root = true

[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{package.json,*.yml}]
indent_style = space
indent_size = 2

[*.md]
# Trailing whitespace is meaningful in Markdown
trim_trailing_whitespace = false
# Markdown style suggests spaces
indent_style = space
# For GitHub-flavored Markdown to work best, 4-space indents are needed
indent_size = 2
